
@{
    ViewData["Title"] = "Index";
}
<style>
    /* css fpr page footer*/
    .hfooter{
         /* position: fixed;*/
          left: 0;
          bottom: 0;
          width: 100%;
          /*background-color: midnightblue;*/
    }
    .footer-container{
        padding:8px 10px ;
        display: flex;
        flex-direction:column; 
       /* border: 1px solid black;*/
        border-radius: 20px;
       background-color: #002244;
       
    }
    .upper{
        padding:10px 10px 10px 10px;
        display: flex;
        flex-direction:row; 
        /*border: 1px solid black;*/
        column-gap:50px;
         margin-left:55px;
    }

    .column1{
        padding: 40px;
       /* border: 1px solid black;*/
    }
    .name{
        display:flex;
        flex-direction:row;
        gap:0px;
        margin-bottom:10px;
        color:white;
        align-items: center;
    }
    .desc{
        margin-bottom:35px;
        font-weight: 100;
        color: darkgrey;
    }
    .followus{
        color: white;
        margin-bottom:10px;
    }
    .icongrp{
        margin-bottom:10px;
        
    }
    .hname{
        
        color:white;
        font-weight:300;
    }
    h2{
        color: white;
        font-weight: 200;
    }
    h4{
        font-weight: 100;
        color:darkgrey;
    }

    .column2, .column3, .column4, .column5{
       /* border: 1px solid black;*/
        padding: 35px;
        text-align: center;
    }
    .Profile-img-1{
        height:32px;
        width: 32px;
        border-radius:50%;
        
    }
    .apple, .android{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }
    /* css fpr page header*/
        .mainheader{
            height:50px;
            width:100%;
            display: flex;
            flex-direction: row;
            border: 1px solid black;
            border: transparent;
            padding-top: 7px;
            margin-bottom: 15px;
            
        }
        .logo-name{
            /*display:flex;
            flex-direction: row;*/
            margin-left: 7%;
            /*border: 1px solid black;*/
            margin-right:80px;
        }
        .e{
            color:purple;
            font-size:170%;
            font-style:italic;
            top:20px;
            left:48%;
            position:relative;
            z-index:1;
        }
        .middle{
            padding-left:20px;
            display:flex;
            flex-direction: row;
            gap: 20px;
            margin-right:50px;
        }
        .end{
            /*border: 1px solid black;*/
            margin-left:40%;
            display:flex;
            flex-direction: row;
            gap: 20px;
           /* float: right;*/
        }
        .logo{
            height:50px;
            width:104px;
            position:absolute;
        }
        .clinic{
            color:purple;
            font-size:170%;
            font-style:italic;
            top:20px;
            left:77%;
            position:relative;
        }
        .service{
            margin-top: 28px;
        }
        .about{
            margin-top: 10px
        }
        .service, .about{
            padding-top: 8px;
            padding-bottom: 8px;
            padding-right: 8px;
            padding-left: 8px;
           /* margin-top: 18px;*/
            color: black;
            border: transparent;
            background: none;
            font-size: 15px;

        }
        .login{
            background-color: white;
            color: blue;
        }
        .signin{
            background-color: blue;
            color: white;
        }
        .login, .signin{
            padding:5px 8px 10px 8px;
            
           /* background-color: white;*/
            border:1px solid transparent;
            border-radius:5px;
            width: 90px;
            height: 40px;
            font-size: 20px;
            margin-top:15px;
        }
        /* css fpr page body*/
        .pagebody{
             background-color:#F0F8FF;
             height:550px;
             width: 100%;
             display: flex;
             flex-direction: row;
        }
        .left-side{
            width:70%;
            padding-left: 10%;
            padding-top: 85px;
         }
         .quote1{
             text-transform: capitalize;
             color: blue;
             font-size: x-large;
             font-weight:500;
             margin-bottom:10px;
         }
         .quote2{
             font-size:xxx-large;
             font-weight:900;
             margin-bottom:50px;
         }
         .quote3{
             font-size:larger;
             font-weight:200;
             color:grey;
             /*margin-bottom:50px;*/
         }
        .right-side{
          
        }
        .main-img{
            
            height:550px;
        }
        .details{
            height:105px;
            background-color: royalblue;
            display:flex;
            flex-direction:row;
            gap: 150px;
            padding-left: 230px;
            align-items: center;
        }
        .doctorsdata, .locations, .rooms, .capacity
        {
            display: flex;
            flex-direction: column;
            color: white;
            font-size: x-large;
        }
        
    
</style>

<div class="mainheader">
       
        <div class="logo-name" asp-area="" asp-controller="User" asp-action="Index">
            <a class="e" asp-area="" asp-controller="User" asp-action="Index" >e</a>
            <img class="logo" src="~/assets/icons/MedIcon.png" />
            <a class="clinic" asp-area="" asp-controller="User" asp-action="Index">Clinic</a>
        </div>

        <div class="middle">
            <div class="Services">
                <button class="service">Services</button>
            </div>
            <div class="about">
                <button class="about">All About</button>
            </div>
        </div>

        <div class="end">
                 <a asp-controller="User" asp-action="Login">
                    <button class="login ">Log In</button>
                 </a>
           
                <a asp-controller="User" asp-action="RegisterAP">
                 <button  class="signin ">Sign In</button>
                </a>
        </div>
  </div>

<div class="pagebody">
    <div class="left-side">
        <div class="quote1">
            <span class="line1">
                introducing a new heath care
            </span>
        </div>
        <div class="quote2">
            <span class="line2">
                Bringing Loving <br> Care to Health Care
            </span>
        </div>
        <div class="quote3">
            <span class="line3">
                Our skilled doctor have tremendous experience with wide <br>range of diseases to serve the needs of our patients.
            </span>
        </div>
    </div>
    <div class="right-side">
        <img class="main-img" src="~/assets/icons/mainimg.png"/>
    </div>
</div>

<div class="details">
    <div class="doctorsdata">
        <span class="text-center">175</span>
        <span>Doctor</span>
    </div>
    <div class="locations">
         <span class="text-center">15</span>
        <span>Clinic Location</span>
    </div>
    <div class="rooms">
         <span class="text-center">18</span>
        <span>Surgery Room</span>
    </div>
    <div class="capacity">
         <span class="text-center">1200+</span>
        <span>Patient Capacity</span>
    </div>
</div>

<footer class="hfooter">
    <div class="footer-container">          
           <div class="upper">
               <div class="column1">
                   <div class="name" >
                       <div class="MediIcon">
                            <img class="MedIcon" style="height:45px;width:104px;" src="~/assets/icons/MedIcon3.png" />
                       </div>
                       <div class="Medname">
                           <a asp-controller="User" asp-action="RegisterAp" class="hname">eClinic</a>
                       </div>
                   </div>
                   
                   <div class="desc">
                       <span>
                           Our skilled doctor have tremendous<br> experience with wide raange of <br>
                           diseases to server the needs of our <br> patients.
                       </span>
                   </div>
                   <div class="followus">
                       <span>Follow Us</span>
                   </div>
                   <div class="icongrp">
                       <img class="Profile-img-1" src="~/assets/icons/in.png"  />
                        <img class="Profile-img-1" src="~/assets/icons/TWITTER.png"  />
                         <img class="Profile-img-1" src="~/assets/icons/game.png"  />
                   </div>
                </div>
                
               <div class="column2"> 
                   <h2 color="white" margin-bottom="20px">Company Info</h2>
                   <h4 margin-bottom="10px">About Us</h4>
                   <h4 margin-bottom="10px">Service</h4>
               </div>
               <div class="column3">
                   <h2 color="white" margin-bottom="20px">Resourdes </h2>
                   <h4 margin-bottom="10px">IOS & Android</h4>
                   <h4 margin-bottom="10px">Watch a Demo</h4>
                   <h4 margin-bottom="10px"> Coustamers</h4>
                   <h4 margin-bottom="10px"> APL </h4>

               </div>
               <div class="column4"> 
                    <h2 color="white" margin-bottom="20px">Services</h2>
                   <h4 margin-bottom="10px"> Pediatric Clinic </h4>
                   <h4 margin-bottom="10px"> Dental Clinic </h4>
                   <h4 margin-bottom="10px"> General Surgery </h4>
                   <h4 margin-bottom="10px"> Cardiologist </h4>
                   <h4 margin-bottom="10px"> Psychological </h4>
                   <h4 margin-bottom="10px"> Medical Store </h4>
               </div>
               <div class="column5"> 
                    <h2 color="white" margin-bottom="20px">Subscribe</h2>
                    <div class="apple">
                        <img class="Profile-img-1" src="~/assets/icons/apple.png"/>
                        <h4 margin-bottom="10px">apple</h4>
                    </div>
                    <div class="android">
                        <img class="Profile-img-1" src="~/assets/icons/anColor.jpg"/>
                        <h4 margin-bottom="10px">android</h4>
                    </div>
                    
               </div>
           </div>
       </div>
</footer>

