@model ModelLayer.Appoinment

@{
    ViewData["Title"] = "GetAppointment";
}

<h1>GetAppointment</h1>

<h4>Appoinment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetAppointment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
               @* <label asp-for="AId" class="control-label"></label>*@
                <input asp-for="AId" class="form-control" readonly type="hidden"/>
                <span asp-validation-for="AId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="PId" class="control-label"></label>*@
                <input asp-for="PId" class="form-control" readonly type="hidden"/>
                <span asp-validation-for="PId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="DId" class="control-label"></label>*@
                <input asp-for="DId" class="form-control"  readonly type="hidden"/>
                <span asp-validation-for="DId" class="text-danger"></span>
            </div>
            <div class="form-group">
               @* <label asp-for="Role" class="control-label"></label>*@
                <input asp-for="Role" class="form-control" readonly type="hidden"/>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Photo" class="control-label"></label>*@
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Pname" class="control-label"></label>*@
                <input asp-for="Pname" class="form-control" placeholder="Name"/>
                <span asp-validation-for="Pname" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Dname" class="control-label"></label>*@
                <input asp-for="Dname" class="form-control" placeholder="Doctor Name"/>
                <span asp-validation-for="Dname" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Date" class="control-label"></label>*@
                <input asp-for="Date" class="form-control" placeholder="Date"/>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Visit_Time" class="control-label"></label>*@
                <input asp-for="Visit_Time" class="form-control" placeholder="Time"/>
                <span asp-validation-for="Visit_Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Visit_End" class="control-label"></label>*@
                <input asp-for="Visit_End" class="form-control" placeholder="End Time"/>
                <span asp-validation-for="Visit_End" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Number" class="control-label"></label>*@
                <input asp-for="Number" class="form-control" placeholder="Mobile Number"/>
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            @*<div class="form-group">
               @* <label asp-for="Doctor" class="control-label"></label>
                <input asp-for="Doctor" class="form-control" placeholder/>
                <span asp-validation-for="Doctor" class="text-danger"></span>
            </div>*@
            <div class="form-group">
               @* <label asp-for="Condition" class="control-label"></label>*@
                <input asp-for="Condition" class="form-control" placeholder="Condition"/>
                <span asp-validation-for="Condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
