
.form-group{
    display:flex;
    flex-direction: row;
   
}
.form-control {
    padding: 10px;
    /*text-align: center;*/
    border-radius: 8px;
}
.row {
    margin-top: 100px;
    padding: 35px;
    border: 1px solid grey;
    border-radius: 20px;
    margin-left: 400px;
    width: 400px;
    box-shadow: 5px 5px 5px 5px #E5E4E2;
}
.btn{
    cursor:pointer;
    width: 150px;
    
}
input {
/*    padding-left: 25px;*/
    background-color: #E5E4E2;
}
.header{
    display:flex;
    flex-direction: column;
    gap:50px;
}
thead {
    background-color: #D3D3D3;
}
.appoinment{
    color:#808080;
}
td {
    background-color: #F8F8FF;
    margin-top: 5px;
}
table {
    border-collapse: separate;
    border-spacing: 0 5px;
}
.icon-grp{
    height:120px;
    width: 120px;
    padding: 8px;
    border-radius: 50%;
    background-color: blue;
    color: white;
    gap:2px;
}
.delete{
    background-color:red;
}
.Profile-img {
    width: 55px;
    height: 55px;
 
}
.action {
    width:100px;
}
.grp {
    display: flex;
    flex-direction: column;
}

