body {
}
.form-group{
    display:flex;
    flex-direction: row;
   
}
.form-control {
    padding: 10px;
    /*text-align: center;*/
    border-radius: 8px;
}
.row {
    margin-top: 20%;
    padding: 35px;
    border: 1px solid grey;
    border-radius: 20px;
    margin-left: 400px;
    width: 400px;
    box-shadow: 5px 5px 5px 5px #E5E4E2;
}
.submit{
    padding-left: 250px;
    width: 20%;
}
.input {
/*    padding-left: 25px;*/
    background-color: #E5E4E2;
}
.header{
    display:flex;
    flex-direction: column;
    gap:50px;
}